.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 160px;
    margin-bottom: 20px;
}

.id-box, .password-box {
    width: fit-content;
    border-radius: 5%;
    background: rgba(255, 255, 255, 0.5);
}

.id-box {
    margin-top: 20px;
}

.password-box {
    margin-top: 15px;
}

.forgot-password {
    cursor: pointer;
    font-size: 12px;
    margin-top: 20px;
}